
.profileTitle{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0px 10px 10px 0px;
    padding-top: 20px;
}

.BotonDetalle {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    margin: 2% 0px 3% 25%;
    
}