.ItemCountSpan{
    font-size: 20px;
    margin: 20px;
}

.Botones {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 25%;
    
}

.Controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Number {
    font-size: 20px;
    margin: 10px;
}

.botonCarrito {
    margin-bottom: 10px;
    margin-top: 10px;
}